.body {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient( to bottom, #3A5A40, #263A2A);
}

.main {
    display: flex;
    flex-direction: column;
}

.containerCircles {
    position: fixed;
    bottom: -128px;
    right: 0;
}

.circles {
    width: 500px;
    height: 500px;
}
