.box{
    background: rgba(254, 250, 224, 0.937255);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    margin: 0 10rem;


    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    padding: 1rem 1.5rem;
}

.title{
    color: #252E24;
    font-size: 2.48813rem;
}

.botoes{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

}
.botao{
    height: 3.5rem;
    width: 11.5rem;
    padding: 1rem 2rem;
}

.input{
    width: 27rem;
    height: 2.4rem;
}

.a{
    color: #5F8666;
}