.header{
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.input{
    /* display: none; */
    width: 3rem;
    height: 4rem;
    text-align: center;
}

.h3{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 2rem;

    margin-bottom: 0.75rem;
}

.p{
    font-family: 'Open Sans';
}

.email{
    color: #5F8666;
}

.main{
    height: 100%;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.codeAllInputs{
    display: flex;
    justify-content: center;

    gap: 2rem;
}

.code3Inputs{
    display: flex;
    gap: 0.5rem;
}

.code3Inputs > input {
    width: 10px;
}

.button{
    width: 7.75rem;
    height: 4rem;
}

.main > .a{
    margin-top: -1.4rem;
    padding: 0;
    font-size: 0.8rem;
}